body {
    background-color: #1b6646;
}

.RmainContainer {
    text-align: center;
    width: 50%;
    height: 80%;
    background-color: #4ced78;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    border-radius: 8px;

    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}


.RtitleContainer {
    font-weight: bold;
    font-size: 1.5vw;
    margin: 1vw;
}

.RinputContainer input[type='text'] {
    border: none;
    color: black;
    padding: 1vw 2vw;
    margin: 1vw;
    font-size: 1vw;
    border-radius: 8px;
}

.RinputContainer input[type='password'] {
    border: none;
    color: black;
    padding: 1vw 2vw;
    margin: 1vw;
    font-size: 1vw;
    border-radius: 8px;
}

.RinputContainer input[type='button'] {
    border: none;
    background: #978dcc;
    color: #1b6646;
    padding: 1vw 2vw;
    margin: 1vw;
    font-size: 1.5vw;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;

}

.RerrorLabel {
    color: darkred;
    font-size: 1vw;
    font-weight: bold;
}

Rinput[type='button']:hover{
    background: #6f6896;
}

/*
#4ced78: primary color
#1b6646: secondary color
#978dcc: accent color
background: ;

text-align: center;
    width: 50%;
    height: 50%;
    background-color: #4ced78;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    border-radius: 8px;

    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;

.mainContainer {
    text-align: center;
    width: 50%;
    height: 50%;
    background-color: #4ced78;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    border-radius: 8px;


    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    text-align: center;
    width: 50%;
    height: 100%;
    background-color: #4ced78;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.2);
*/

/*
body {
    background-color: #1b6646;
}

.mainContainer {
    text-align: center;
    width: 50%;
    height: 80%;
    background-color: #4ced78;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    border-radius: 8px;

    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}


.titleContainer {
    font-weight: bold;
    font-size: 1.5vw;
    margin: 1vw;
}

input[type='text'] {
    border: none;
    color: black;
    padding: 1vw 2vw;
    margin: 1vw;
    font-size: 1vw;
    border-radius: 8px;
}

input[type='password'] {
    border: none;
    color: black;
    padding: 1vw 2vw;
    margin: 1vw;
    font-size: 1vw;
    border-radius: 8px;
}

input[type='button'] {
    border: none;
    background: #978dcc;
    color: #1b6646;
    padding: 1vw 2vw;
    margin: 1vw;
    font-size: 1.5vw;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;

}

.errorLabel {
    color: white;
    font-size: 1vw;
    font-weight: bold;
}

input[type='button']:hover{
  background: #6f6896;
}



 */