*{
    margin: 0;
    padding: 0;
}

.root{
    position: relative;
}

/*.core{
    position: fixed;
    display: flex;
    padding: 0;
    margin: 0;
    top: 8%;
    left: 20%;
    height: 100vh;
    width: 60%;
}*/
/*
.reminders{
    display: flex;
    flex: 1;
    height: 100%;
    width: 40%;
}

.reminders ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    overflow: auto;
}

.reminders ul::-webkit-scrollbar{
    width: 0;
}

.reminders li{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 100%;
    height: 48px;
    margin-bottom: 16px;

    text-align: center;
    background-color: lightblue;
}
*/