.manager{
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
}
h1{
    font-size: 4rem;
}

.addbutton{
    background-color: #F1F3FD;
    color: #111;
    border: 1px solid #111;
    font-weight: 600;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 90px;
    font-size: large;
    height: 40px;

}
.addbutton:hover{
    background-color: lightgreen;
}
.deletebutton{
    background-color: darkred;
    color: #111;
    border: 1px solid #111;
    font-weight: 600;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 150px;
    font-size: medium;
    height: 50px;
}
.deletebutton:hover{
    background-color: red;
}
.movebutton{
    background-color: lightskyblue;
    color: #111;
    border: 1px solid #111;
    font-weight: 600;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 150px;
    font-size: medium;
    height: 50px;
}
.movebutton:hover{
    background-color: lightblue;
}
input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid black;
    color: black;
    border-radius: 4px;
    margin-top: 10px;
}
ol{
    padding: 0;

}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: lightgray;
    border: 3px solid grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.text{
    flex: 1;
}
.deletebutton, .movebutton{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}
body{
    background-color: forestgreen;
}
.enter_a_task{
}