*{
    margin: 0;
    padding: 0;
}

.core{
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    top: 48px;
    left: 20%;
    height: 100vh;
    width: 60%;
}

.form{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 50%;
}

.formLeft{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: grey;
}

.searchBar{
    position: relative;
    display: block;
    height: 20%;
    width: 100%;
}

.searchBar input{
    display: flex;
    position: relative;
    border: none;
    border-radius: 4px;
    background-color: #1b6646;
    font-size: 100%;
    height: 100%;
    width: 100%;
}

.searchBar input:focus{
    outline: none;
}

.searchResult{
    height: 80%;
    width: 100%;
}

.searchResult ul{
    overflow: auto;
    list-style-type: none;
    flex-basis: 0;
    height: 100%;
    border-radius: 4px;
}

.searchResult ul::-webkit-scrollbar{
    width: 0;
}

.searchResult li{
    display: flex;
    flex: 1;
    border-radius: 4px;
    height: 25%;
}

.searchResult button{
    background: #978dcc;
    font-size: 100%;
    width: 100%;
    border: none;
}

.searchResult button:hover{
    border: 1px solid black;
}

.formRight{
    position: relative;
    display: flex;
    flex: space-evenly;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: blue;
}

.formRight h3{
    height: 20%;
    font-size: 100%;
}

.formRight input{
    background: none;
    border: none;
    height: 20%;
    width: 100%;
    font-size: 100%;
    border-radius: 4px;
    background-color: white;
}

.formRight input:focus{
    outline: none;
}