.main_container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: -300px;
}
.support_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    background: linear-gradient(75.7deg, rgb(34, 126, 34) 3.8%, rgb(99, 162, 17) 87.1%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.support_text{
    margin: 12px 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.input_box{
    height: 75px;
    width: 465px;
    background: #ffff;
    border-radius: 10px;
}
.ticket_button{
    height: 40px;
    width: 110px;
    background-color: #228b22;
    color: white;
    font-size: medium;
    border-radius: 10px;
    border-style: none;
    margin-top: 10px;
    cursor: pointer;
    align-self: center;

}
.ticket_button:hover{
    background-color: #90ee90;
}

.support_container{
    height: 75px;
    width: 465px;
    background: lightgrey;
    border-radius: 4px;
    margin: 10px 0;
    word-break: break-all;
}
.background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(beautiful-scenery-river-surrounded-by-greenery-forest.jpg) no-repeat center center;
    /*Attribution: https://www.freepik.com/free-photo/beautiful-scenery-river-surrounded-by-greenery-forest_16026988*/
    background-size: cover;
}