.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(pexels-life-of-pix-7919.jpg) no-repeat center center;
    background-size: cover;
}

.content-container {
    width: 50%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-left: 20px;
}

.welcome-message {
    margin-bottom: 20px;
}

.summary {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.click_button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.click_button:hover {
    background-color: #0056b3;
}